@charset "utf-8";

line-s {
	height: 30px;
	line-height: 30px !important;
}

.w174 {
	width: 200px;
}

.keycon {
	position: relative;
	margin-top: -34px;
	margin-left: 210px;
}

.keycolor {
	position: relative;
	margin-top: -34px;
	margin-left: 500px;
	width: 100px;
	padding-right: 0 !important;
}

.keycolorbtn {
	position: relative;
	margin-top: -34px;
	margin-left: 609px;
	width: 50px;
}

.keycolormid {
	position: relative;
	margin-top: -34px;
	margin-left: 710px;
	width: 100px;
	padding-right: 0 !important;
}

.keycolorbtnmid {
	position: relative;
	margin-top: -34px;
	margin-left: 819px;
	width: 50px;
}

.keycolorfoot {
	position: relative;
	margin-top: -34px;
	margin-left: 500px;
	width: 100px;
	padding-right: 0 !important;
}

.keycolorbtnfoot {
	position: relative;
	margin-top: -34px;
	margin-left: 609px;
	width: 50px;
}

.templateexample {
	width: 375px;
	height: 120px;
	border: 1px solid #eee;
	padding: 4px;
}

.testsend {
	margin-left: 178px;
	padding-right: 10px;
}

.testsend>input {
	width: 380px;
}

.footremark {
	margin-left: 262px;
	font-size: 12px;
}

.tipmsg {
	font-size: 12px;
	height: 33px;
	line-height: 33px;
	background-color: whitesmoke;
}

.test-popup-link {
	margin-left: 1%;
}