@charset "utf-8";

#service_id {
	width: 170%;
}

.w174 {
	width: 73%;
}

.line-s {
	height: 24px;
	line-height: 24px !important;
}

.keycon {
	position: relative;
	margin-top: -34px;
	margin-left: 75%;
}

.keycolor {
	position: relative;
	margin-top: -34px;
	margin-left: 103%;
	width: 59%;
}

.keycolorbtn {
	position: relative;
	margin-top: -34px;
	margin-left: 165%;
	width: 50px;
}

.keycolormid {
	position: relative;
	margin-top: -34px;
	margin-left: 177%;
	width: 71%;
}

.keycolorbtnmid {
	position: relative;
	margin-top: -34px;
	margin-left: 250%;
	width: 50px;
}

.keycolorfoot {
	position: relative;
	margin-top: -34px;
	margin-left: 103%;
	width: 39%;
}

.keycolorbtnfoot {
	position: relative;
	margin-top: -34px;
	margin-left: 145%;
	width: 50px;
}

.templateexample {
	width: 29%;
	height: 90px;
	border: 1px solid #eee;
	padding: 4px;
}

.testsend {
	margin-left: 8%;
	padding-right: 6px;
}

.testsend>input {
	width: 22%;
}

.footremark {
	display: inline-block;
	margin-left: 17%;
	font-size: 80%;
	width: 80%;
}

.tipmsg {
	font-size: 12px;
	height: auto;
	line-height: 24px;
	background-color: whitesmoke;
	padding: 5px;
}

.test-popup-link {
	margin-left: 2%;
}